body {
  margin: 0;
  font-family: "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: none;
}

:root {
  @dark-scrollbar-color: #19191b;
}

/* Works on Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: var(--dark-scrollbar-color) #02020c;
}

/* Works on Chrome, Edge, and Safari */

@media (min-width: 481px) {
  *::-webkit-scrollbar {
    width: 10px;
  }
}

@media (max-width: 481px) {
  *::-webkit-scrollbar {
    width: 0px;
  }
}

*::-webkit-scrollbar-track {
  background: #d4d4d4;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-scrollbar-color);
  border-radius: 10px;
  border: 3px solid #d4d4d4;
}

